<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="GeneralStore-UI_Test">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Checkout_Products">
        <classes>
            <class name="sample.ui.CheckoutProductTest"/>
        </classes>
    </test>
</suite>